USE [master]
GO
/****** Object:  Database [Rubrica]    Script Date: 9/10/2021 2:57:35 PM ******/
CREATE DATABASE [Rubrica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rubrica', FILENAME = N'C:\Users\tereza.simkova\Rubrica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rubrica_log', FILENAME = N'C:\Users\tereza.simkova\Rubrica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rubrica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rubrica]
GO
USE [Rubrica]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/10/2021 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 9/10/2021 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfAddress] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[CAP] [int] NOT NULL,
	[Region] [nvarchar](max) NULL,
	[Nation] [nvarchar](max) NULL,
	[IdContact] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 9/10/2021 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[IdContact] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[IdContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210910125310_firstMigration', N'5.0.9')
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([IdAddress], [TypeOfAddress], [Street], [City], [CAP], [Region], [Nation], [IdContact]) VALUES (1, N'Residenza', N'Via Monte Nero 6', N'Milano', 20141, N'Lombardia', N'Italia', 1)
INSERT [dbo].[Address] ([IdAddress], [TypeOfAddress], [Street], [City], [CAP], [Region], [Nation], [IdContact]) VALUES (2, N'Domicilio', N'Via Montegani 9', N'Verona', 23151, N'Veneto', N'Italia', 1)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([IdContact], [Name], [Surname]) VALUES (1, N'Alice', N'Rossi')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
/****** Object:  Index [IX_Address_IdContact]    Script Date: 9/10/2021 2:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Address_IdContact] ON [dbo].[Address]
(
	[IdContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Contacts_IdContact] FOREIGN KEY([IdContact])
REFERENCES [dbo].[Contacts] ([IdContact])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Contacts_IdContact]
GO
USE [master]
GO
